## executables
bin/*
build/

## Xcode crap
cosmicDebrisOF.xcodeproj/*.mode1v3
cosmicDebrisOF.xcodeproj/*.pbxuser

## mac os crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

## unignore data
## !bin/data/
